#contact-title{
    transform: translateX(50px);
    text-align: center;
    color: whitesmoke;
}

#form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    padding: 3px;
}
::placeholder{
    color: black;
    opacity: 0.5;
}
input,
textarea {
    
    box-shadow: 6px 6px 6px black;
    border: 3px solid whitesmoke;
    border-radius: 1%;
    padding: 4px;
    margin-bottom: 5px;
}

input{
    height: 25px;
}

#btn-area{
    transform: translate(35%);
}

.btn{
    width: 50%;
    height: auto;
    padding: 10px 0 10px 0;
    margin: 4px 2px;
    border: none;
    background-color:#fff;
    color: darkcyan;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
    transform: translate3d(1px, 1px, 1px);
}

label{
    font-weight: bold;
    display: inline-block;
    clear: left;
    width: 100px;
    text-align: right;
}

#your-message{
    font-weight: bold;
}